# Python
.venv/
__pycache__/
*.pyc
*.egg-info/
.pytest_cache/

# Datos y secretos
.env
data/
*.csv
*.parquet

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Notebooks
.ipynb_checkpoints/

# Otros
dominiotecnico.html
plan.md
misnotas.md